// FLEX & GRID

.flex-h {
  display: flex;
  align-items: center;
}

.flex-v {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid-3-col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.grid-4-col-e {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}
