*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  position: relative;
}

@font-face {
  font-family: "Jost";
  font-weight: 400;
  src: local("Jost Regular"), url(../../fonts/Jost-Regular.woff2), url(../../fonts/jost-400-book-webfont.woff);
}
@font-face {
  font-family: "Jost";
  font-weight: 700;
  src: local("Jost Bold"), url(../../fonts/Jost-Bold.woff2), url(../../fonts/jost-700-bold-webfont.woff);
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Jost", sans-serif;
  color: #131118;
  line-height: 1.6;
}

.heading-primary {
  font-size: 6rem;
  font-weight: 700;
}

.heading-secondary {
  font-size: 6rem;
  font-weight: 400;
}

.text {
  font-size: 1.6rem;
  font-weight: 400;
}

.text-small {
  font-size: 2rem;
  font-weight: 400;
}

.text-medium {
  font-size: 3rem;
  font-weight: 400;
}

.text-big {
  font-size: 4rem;
  font-weight: 400;
}

.title {
  font-size: 1.6rem;
  font-weight: 700;
}

.title-medium {
  font-size: 2rem;
  font-weight: 700;
}

.title-big {
  font-size: 3rem;
  font-weight: 700;
}

.text--light {
  color: #ffffff;
}

.text--dark {
  color: #131118;
}

.strikethr {
  color: #a4a1aa;
  text-decoration: line-through;
}

.text-ali-center {
  text-align: center;
}

.mar-bot-150 {
  margin-bottom: 15rem;
}

.mar-bot-100 {
  margin-bottom: 10rem;
}

.mar-bot-50 {
  margin-bottom: 5rem;
}

.mar-bot-42 {
  margin-bottom: 4.2rem;
}

.mar-bot-30 {
  margin-bottom: 3rem;
}

.mar-bot-20 {
  margin-bottom: 2rem;
}

.mar-bot-16 {
  margin-bottom: 1.6rem;
}

.mar-bot-10 {
  margin-bottom: 1rem;
}

.mar-bot-5 {
  margin-bottom: 5px;
}

.pad-rl-150 {
  padding: 0 15rem;
}

.pad-rl-120 {
  padding: 0 12rem;
}

.pad-rl-30 {
  padding: 0 3rem;
}

.pad-ud-50 {
  padding: 5rem 0;
}

.icon-24 {
  width: 2.4rem;
  height: 2.4rem;
}

.icon-36 {
  width: 3.6rem;
  height: 3.6rem;
}

.icon-card {
  width: 3.6rem;
  height: 2.4rem;
}

.icon-s--dark {
  stroke: #131118;
  fill: none;
}

.icon-f--dark {
  fill: #131118;
  stroke: none;
}

.icon-s--light {
  stroke: #ffffff;
  fill: none;
}

.icon-f--light {
  fill: #ffffff;
  stroke: none;
}

.icon-star {
  fill: rgb(245, 158, 11);
}

.btn {
  display: flex;
  align-items: center;
  padding: 1.7rem 2.5rem;
  font-size: 1.6rem;
  border: none;
  border-radius: 1rem;
  font-family: inherit;
}

.btn--dark {
  background-color: #131118;
  color: #ffffff;
}

.btn--light {
  background-color: rgba(164, 161, 170, 0.1);
  columns: #131118;
}

.product-card__img-box {
  background-color: rgba(164, 161, 170, 0.05);
  width: 27.5rem;
  height: 33rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-card__img {
  width: 85%;
  height: auto;
}

.long-dress {
  width: 40%;
}

.flex-h {
  display: flex;
  align-items: center;
}

.flex-v {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid-3-col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.grid-4-col-e {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}

.footer {
  padding-top: 5rem;
  background-color: #131118;
}
.footer-box {
  justify-content: space-between;
  align-items: start;
  padding-bottom: 5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  height: 100%;
}
.footer__logo-box {
  width: 14.3rem;
}
.footer__logo {
  width: 100%;
  height: auto;
}
.footer__column {
  flex-basis: 25%;
}
.footer__column--contact {
  gap: 3rem;
  flex-basis: 32%;
}
.footer__logo-box {
  margin-bottom: 1.1rem;
}
.footer__contact {
  gap: 1rem;
  align-items: start;
}
.footer__list {
  list-style: none;
  gap: 1.6rem;
}
.footer__input-box {
  width: 100%;
  height: 3.8rem;
  position: relative;
}
.footer__input {
  width: 100%;
  height: 100%;
  border: 1px solid #ffffff;
  background-color: transparent;
  border-radius: 1rem;
  padding: 1rem;
  outline: none;
}
.footer__label {
  justify-content: space-between;
  width: 92%;
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
.footer__label--left {
  opacity: 0.7;
  gap: 1rem;
}
.footer__link:link, .footer__link:visited {
  text-decoration: none;
}
.footer__bottom {
  justify-content: space-between;
  padding: 2rem 0;
}
.footer__cards {
  gap: 1rem;
}
.footer__socials {
  gap: 2rem;
}

.header {
  justify-content: space-between;
  padding: 2rem 10rem;
  position: relative;
}
.header__logo-img {
  width: 100%;
  height: 100%;
}
.header__icons {
  gap: 2rem;
}
.header__btn-login {
  margin-left: 1rem;
}
.header__options {
  gap: 3rem;
}
.header__option:link, .header__option:visited {
  text-decoration: none;
}
.header__option:hover {
  cursor: pointer;
}
.header__shop-box {
  position: relative;
}

.mega-menu {
  display: grid;
  grid-template-columns: max-content max-content max-content max-content;
  grid-column-gap: 3.1rem;
  padding: 4rem;
  background-color: #ffffff;
  z-index: 1000000;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
  position: absolute;
  left: 0rem;
  bottom: -1rem;
  transform: translate(-30%, 100%);
}
.mega-menu__part:not(:last-child) {
  padding-right: 3.1rem;
  border-right: 1px solid rgba(164, 161, 170, 0.2);
}
.mega-menu__part:not(:last-child):last-child {
  border: none;
}
.mega-menu__title {
  display: block;
  margin-bottom: 2rem;
}
.mega-menu__list {
  gap: 1.6rem;
  list-style: none;
}
.mega-menu__option:nth-child(5) {
  margin-bottom: 1.4rem;
}
.mega-menu__option:nth-child(6) {
  margin-bottom: 4px;
}
.mega-menu__link:link, .mega-menu__link:visited {
  text-decoration: none;
  color: inherit;
}
.mega-menu__background {
  background-color: rgba(19, 17, 24, 0.1);
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  position: absolute;
  left: 0;
  top: 0;
}

.header__shop-box:hover .mega-menu {
  visibility: visible;
  opacity: 1;
}

header .header__options .header__shop-box:hover ~ .mega-menu__background {
  visibility: visible;
  opacity: 1;
}

.hero {
  background-color: rgba(19, 17, 24, 0.05);
  height: 100vh;
  position: relative;
}
.hero__section {
  padding: 0 3rem;
}
.hero::after {
  content: "BESTSELLER";
  position: absolute;
  right: 2rem;
  bottom: 1rem;
  font-size: 18rem;
  font-weight: 700;
  color: #ffffff;
}
.hero__text-box {
  flex: 0 1 50%;
}
.hero__off {
  text-transform: uppercase;
}
.hero__img-box {
  flex: 0 1 50%;
  height: 100%;
  display: flex;
  justify-content: right;
  position: relative;
}
.hero__img-box__square {
  position: absolute;
  bottom: 2rem;
  right: 3rem;
  width: 45rem;
  height: 68rem;
  border: 2rem solid #ffffff;
  border-top: 2rem solid transparent;
  z-index: 200;
}
.hero__img-box__square--top {
  position: absolute;
  bottom: 2rem;
  right: 3rem;
  width: 45rem;
  height: 68rem;
  border-top: 2rem solid #ffffff;
}
.hero__img {
  height: 100%;
  width: auto;
  z-index: 100;
}

.categories__nav {
  justify-content: space-between;
}
.categories__icons {
  gap: 2rem;
}
.categories__boxes {
  justify-content: space-between;
}
.categories__box {
  background-color: rgba(19, 17, 24, 0.05);
  width: 26rem;
  height: 36rem;
  position: relative;
  justify-content: right;
  align-items: flex-end;
}
.categories__btn {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  padding: 1.35rem;
  border: none;
  background-color: #ffffff;
  border-radius: 1rem;
  font-family: inherit;
}
.categories__span {
  position: absolute;
  top: 1rem;
  left: 5px;
  font-weight: 700;
  color: rgba(19, 17, 24, 0.05);
  font-size: 6rem;
}

.bestseller {
  grid-template-rows: 1fr 1fr;
}

.deals__box {
  gap: 3rem;
}
.deals__part {
  flex: 0 1 50%;
}
.deals__img {
  width: 100%;
  height: auto;
}
.deals__time {
  gap: 2rem;
}
.deals__number-box {
  border-radius: 2rem;
  border: 1px solid rgba(164, 161, 170, 0.2);
  width: 8.6rem;
  height: 8.6rem;
  align-items: center;
}
.deals__desc {
  padding-right: 8rem;
}

.testimonials {
  background-color: rgba(164, 161, 170, 0.05);
}
.testimonials__nav {
  justify-content: space-between;
}
.testimonials__icons {
  gap: 2rem;
}
.testimonials__items {
  gap: 3rem;
}
.testimonials__testimonial {
  background-color: #ffffff;
  padding: 3rem;
  border-radius: 1rem;
}
.testimonials__stars {
  gap: 2px;
}
.testimonials__profile {
  gap: 1rem;
}
.testimonials__profile--img {
  width: 100%;
  height: auto;
}
.testimonials__profile--job {
  color: #a4a1aa;
  font-size: 1.4rem;
}

.stories__box {
  justify-content: center;
  gap: 3rem;
}
.stories__story-box {
  width: 26.2rem;
  height: 26.2rem;
}
.stories__story-img {
  width: 100%;
  height: auto;
}

.features {
  justify-content: space-between;
}

/*# sourceMappingURL=style.css.map */
