@use "../abstracts/variables" as *;

.hero {
  &__section {
    padding: 0 3rem;
  }

  background-color: $clr-dark-5;
  height: 100vh;

  position: relative;

  &::after {
    content: "BESTSELLER";
    position: absolute;
    right: 2rem;
    bottom: 1rem;

    font-size: 18rem;
    font-weight: $font-weight-bold;
    color: $clr-white-500;
  }

  &__text-box {
    flex: 0 1 50%;
  }

  &__off {
    text-transform: uppercase;
  }

  &__img-box {
    flex: 0 1 50%;
    height: 100%;

    display: flex;
    justify-content: right;
    position: relative;

    &__square {
      position: absolute;
      bottom: 2rem;
      right: 3rem;

      width: 45rem;
      height: 68rem;

      border: 2rem solid $clr-white-500;
      border-top: 2rem solid transparent;

      z-index: 200;
    }

    &__square--top {
      position: absolute;
      bottom: 2rem;
      right: 3rem;

      width: 45rem;
      height: 68rem;

      border-top: 2rem solid $clr-white-500;
    }
  }

  &__img {
    height: 100%;
    width: auto;

    z-index: 100;
  }
}

.categories {
  &__nav {
    justify-content: space-between;
  }

  &__icons {
    gap: 2rem;
  }

  &__boxes {
    justify-content: space-between;
  }

  &__box {
    background-color: $clr-dark-5;

    width: 26rem;
    height: 36rem;

    position: relative;

    justify-content: right;
    align-items: flex-end;
  }

  &__btn {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);

    width: 90%;
    padding: 1.35rem;

    border: none;
    background-color: $clr-white-500;
    border-radius: 1rem;
    font-family: inherit;
  }

  &__span {
    position: absolute;
    top: 1rem;
    left: 5px;

    font-weight: $font-weight-bold;
    color: $clr-dark-5;
    font-size: 6rem;
  }
}

.bestseller {
  grid-template-rows: 1fr 1fr;
}

.deals {
  &__box {
    gap: 3rem;
  }

  &__part {
    flex: 0 1 50%;
  }

  &__img {
    width: 100%;
    height: auto;
  }

  &__time {
    gap: 2rem;
  }

  &__number-box {
    border-radius: 2rem;
    border: 1px solid $clr-gray-20;
    width: 8.6rem;
    height: 8.6rem;

    align-items: center;
  }

  &__desc {
    padding-right: 8rem;
  }
}

.testimonials {
  background-color: $clr-gray-5;

  &__nav {
    justify-content: space-between;
  }

  &__icons {
    gap: 2rem;
  }

  &__items {
    gap: 3rem;
  }

  &__testimonial {
    background-color: $clr-white-500;
    padding: 3rem;
    border-radius: 1rem;
  }

  &__stars {
    gap: 2px;
  }

  &__profile {
    gap: 1rem;

    &--img {
      width: 100%;
      height: auto;
    }

    &--job {
      color: $clr-gray-500;
      font-size: 1.4rem;
    }
  }
}

.stories {
  &__box {
    justify-content: center;
    gap: 3rem;
  }

  &__story-box {
    width: 26.2rem;
    height: 26.2rem;
  }

  &__story-img {
    width: 100%;
    height: auto;
  }
}

.features {
  justify-content: space-between;
}
