@use "../abstracts/variables" as *;

@font-face {
  font-family: "Jost";
  font-weight: $font-weight-regular;
  src: local("Jost Regular"), url(../../fonts/Jost-Regular.woff2),
    url(../../fonts/jost-400-book-webfont.woff);
}

@font-face {
  font-family: "Jost";
  font-weight: $font-weight-bold;
  src: local("Jost Bold"), url(../../fonts/Jost-Bold.woff2),
    url(../../fonts/jost-700-bold-webfont.woff);
}

// SETTING THE BASE SETTINGS
html {
  font-size: 62.5%;
}

body {
  font-family: "Jost", sans-serif;
  color: $clr-dark-500;
  line-height: 1.6;
}

// HEADINGS
.heading-primary {
  font-size: $font-size-60;
  font-weight: $font-weight-bold;
}

.heading-secondary {
  font-size: $font-size-60;
  font-weight: $font-weight-regular;
}

// TEXTS SIZES
.text {
  font-size: $font-size-16;
  font-weight: $font-weight-regular;
}

.text-small {
  font-size: $font-size-20;
  font-weight: $font-weight-regular;
}

.text-medium {
  font-size: $font-size-30;
  font-weight: $font-weight-regular;
}

.text-big {
  font-size: $font-size-40;
  font-weight: $font-weight-regular;
}

.title {
  font-size: $font-size-16;
  font-weight: $font-weight-bold;
}

.title-medium {
  font-size: $font-size-20;
  font-weight: $font-weight-bold;
}

.title-big {
  font-size: $font-size-30;
  font-weight: $font-weight-bold;
}

// TEXT COLORS
.text--light {
  color: $clr-white-500;
}

.text--dark {
  color: $clr-dark-500;
}

// TEXT FEATURES
.strikethr {
  color: $clr-gray-500;
  text-decoration: line-through;
}

.text-ali-center {
  text-align: center;
}
