@use "../abstracts/variables" as *;

html {
  font-size: 62.5%;
}

body {
  font-family: "Jost", sans-serif;
  color: $clr-dark-500;
}

.heading-primary {
  font-size: $font-size-60;
  font-weight: $font-weight-bold;
}

.heading-secondary {
  font-size: $font-size-60;
  font-weight: $font-weight-regular;
}

.text {
  font-size: $font-size-16;
  font-weight: $font-weight-regular;
}

.text--light {
  color: $clr-white-500;
}

.text--dark {
  color: $clr-dark-500;
}

.title {
  font-size: $font-size-16;
  font-weight: $font-weight-bold;
}

.text-medium {
  font-size: $font-size-30;
  font-weight: $font-weight-regular;
}

.text-big {
  font-size: $font-size-40;
  font-weight: $font-weight-regular;
}
